.bar {
  Background-color: black;
  Height:10px ;
  margin:10px;
}

h1 {
  text-align: center;
  margin-bottom-padding: 1px;
  margin: 0.6px;
}

.news-box{
  text-align: center;
}

.info-bar{
  text-align: center;
}

a{
 padding:2px;
}

p2 {
 letter-spacing: -0.5px;
 margin: 0;
 padding: 0;
 font-size: 10.5px;
}

h2{
  margin:0;
  padding:2px;
}

p{
  margin:0px;
}

.intersect-text {
 display: flex;
 align-items: center;
 text-align: center;
 width: 100%;
}

.intersect-text::before,
.intersect-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
  margin: 0 10px;
}


