<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old Time News</title>
    <link rel= 'stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="newspaper">
        <header>
            <h1>Old Time News</h1>
            <p class="date">{{today_date.strftime('%d %B %Y ')}}</p>
        </header>

        <section class="columns">
            <article>
                <h2> Clean </h2>
                <p> An fresh newspaper that is untouched. This is designed to be unblemished. </p>
            </article>
            <article>
                <h2> Minimalist </h2>
                <p> The function of this newspaper is to focus to be purposeful for only reading the news.  </p>
            </article>
            <article>
                <h2>Search</h2>
                <p> Search for what is required</p>
                <a href="">Search here</a>
            </article>
        </section>
    </div>
</body>
</html>
